@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #27884D;
  --color-secondary: #70A610;
  --color-background: #F8F9FA;
  --color-standard: #343A40;
  --color-delete: #FC706A;
  --color-warning: #FFD538;
  --color-info: #17A2B8;
}

.backgroundPrimary {
  background-color: var(--color-primary);
}

.textPrimary {
  color: var(--color-primary);
}

.backgroundSecondary {
  background-color: var(--color-secondary);
}

/*Clase backgroundScondary con 10% de opacidad*/
.backgroundSecondary-10 {
  background-color: rgba(112, 166, 16, 0.1);
}

.textSecondary {
  color: var(--color-secondary);
}

.backgroundBackground {
  background-color: var(--color-background);
}

.textStandard {
  color: var(--color-standard);
}

.textDelete {
  color: var(--color-delete);
}

.backgroundDelete {
  background-color: var(--color-delete);
}

.textWarning {
  color: var(--color-warning);
}

.backgroundWarning {
  background-color: var(--color-warning);
}

.infoStandard {
  color: var(--color-info);
}

.backgroundInfo {
  background-color: var(--color-info);
}

.fixed-image {
  width: 100vh;
  height: 50vh;
  object-fit: cover;
}

.slick-prev:before, .slick-next:before {
  display: none;
}

.placeholderPrimary::placeholder { 
  color: var(--color-primary);
} 

.deleteButton:hover {
  background-color: var(--color-delete);
}

/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
*/

th, td{
  padding: 0.5rem 0 0.5rem 1rem;
  width: 5rem;
}

th {
  text-align: left;
  background-color: #fff;
  color: black;
}

td{
  max-width: 5rem;
  white-space: nowrap;
  overflow-x: auto;
}

.three-icons{
  width: 7rem;
  min-width: 7rem;
}

